*{
    font-family: 'Roboto Condensed', sans-serif;
}

html{
    width: 100%;
}

body{
    width: 100%;
}

nav{
    width: 100%;
    background: transparent; !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;

}

.navigation{
    width: 100%;
    background-color: #93B3D7;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
}

.name{
    display: inline-block;
    width: 20rem;
    margin-left: 3rem;
    margin-top: 0.3rem;
    overflow: hidden;
}

.name>img:first-of-type{
    display: inline-block;
    width: 1.5rem;
    object-fit: contain;
}

.name>img:last-of-type{
    display: inline-block;
    width: 14rem;
    margin-left: 1rem;
    object-fit: contain;
}

.authors{
    margin-right: 3rem;
    margin-top: 0.5rem;
    float: right;
}

.authors>img{
    display: inline-block;
    width: 12rem;
}

.course{
    display: block;
    position: absolute;
    width: 100%;
    height: 40rem;
    margin-top: 1rem;
    padding: 2.5rem;
    text-align: center;
    z-index: -100;
    overflow: hidden;
}

#player{
    display: block;
    position: absolute;
    width: 853px;
    height: 480px;
    left: 50%;
    margin-left: -427px;
    margin-top: 3rem;
    z-index: -10;
    -webkit-tranform: translateZ(0);
}

.slide{
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -543px;
    z-index: 10;
}

.slide.active{
    display: block;
}

.cover{
    display: none;
    position: absolute;
    width: 960px;
    height: 540px;
    left: 50%;
    margin-left: -480px;
    z-index: 20;
    overflow-y: scroll;
    visibility: hidden;
}

.cover.active{
    display: block;
    visibility: visible;
}

.front.active{
    display: block;
    width: 960px;
    height: 540px;
    position: absolute;
    background-image: url('../resources/frontpage.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    visibility: visible;
}

.front{
    display: none;
    visibility: hidden;
}

.front>button{
    display: block;
    width: 13rem;
    height: 4rem;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    margin-left: -6.5rem;
    background-color: white;
    border: 1px solid #979797;
    border-radius: 0.5rem;
    box-shadow: #d8d8d8 0.1px 0.1px 7px 2px;
    padding: 1rem;
    cursor: pointer;
}

.front>button:hover{
    box-shadow: #979797 0.1px 0.1px 7px 3px;
}

.front>button>img{
    display: inline-block;
    width: 7rem;
    height: auto;
}

.cover>.ex1{
    display: none;
    width: 960px;
    height: 540px;
    background-image: url('../resources/ex1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    text-align: left;
    visibility: hidden;
}

.ex1.active{
    display: block;
    visibility: visible;
}

.ex1_text{
    display: block;
    width: 25rem;
    height: 20rem;
    overflow: hidden;
    position: absolute;
    right: 0;
    padding: 2rem;
    padding-top: 3rem;
}

.ex1_text>ul>li{
    margin-top: 1rem;
    cursor: pointer;
 }

.ex1_text>ul>li:hover{
    color: white;
}

.ex1_feedback{
    display: none;
    width: 10rem;
    height: 10rem;
    position: absolute;
    z-index: 50;
    top: 20rem;
    right: 9rem;
    text-align: center;
    visibility: hidden;
}

.ex1_feedback.active{
    display: block;
    visibility: visible;
}

.ex1_feedback>.ex1_btn{
    display: block;
    width: 15rem;
    height: 12rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    margin-left: -6rem;
    cursor: pointer;
}

.ex1_btn.correct{
    display: none;
    width: 15rem;
    height: 12rem;
    background-image: url('../resources/drag1_r.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.ex1_btn.correct.active{
    display: block;
}

.ex1_btn.wrong{
    display: none;
    width: 15rem;
    height: 12rem;
    background-image: url('../resources/drag1_w.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.ex1_btn.wrong.active{
    display: block;
}


.cover>.ex2{
    display: none;
    width: 960px;
    height: 540px;
    background-image: url('../resources/ex2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    text-align: left;
    visibility: hidden;
}

.ex2.active{
    display: block;
    visibility: visible;
}

.ex2_text{
    display: block;
    width: 25rem;
    height: 20rem;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: left;
    margin-right: 20rem;
    padding: 2rem;
    padding-top: 3rem;
}

.ex2_text>ul>li{
    margin-top: 1rem;
    cursor: pointer;
}

.ex2_text>ul>li:hover{
    color: white;
}

.ex2_feedback{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 50;
    text-align: center;
    visibility: hidden;
}

.ex2_feedback.active{
    display: block;
    visibility: visible;
}

.ex2_feedback>.ex2_btn{
    display: block;
    width: 15rem;
    height: 12rem;
    position: absolute;
    top: 2rem;
    right: 4rem;
    cursor: pointer;
}

.ex2_btn.correct{
    display: none;
    width: 15rem;
    height: 12rem;
    background-image: url('../resources/drag1_r.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.ex2_btn.correct:hover{
    opacity: 0.7;
}

.ex2_btn.correct.active{
    display: block;
}

.ex2_btn.wrong{
    display: none;
    width: 15rem;
    height: 12rem;
    background-image: url('../resources/drag1_w.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.ex2_btn.wrong:hover{
    opacity: 0.7;
}

.ex2_btn.wrong.active{
    display: block;
}

